<div class="well text-center">
	<div class="image">
		<img src="{{imageUrl}}" alt="" class="img-rounded">
		<form class="answer img-rounded">
			<h3>So, what is this place?</h3>
			<input type="text" class="form-control input-lg" id="guess">
			<br>
			<button class="btn btn-primary btn-lg btn-block">Submit Guess</button>
		</form>
	</div>
	<ol class="clues">
		<li class="clue-1">{{clue1}}</li>
		<li class="clue-2">{{clue2}}</li>
		<li class="clue-3 text-muted">Revealed Sunday @ 10am</li>
	</ol>
	<button class="btn btn-primary btn-lg btn-block">I know this one!</button>
</div>
